<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @canva.a_id %>
</p>

<p>
  <strong>A type:</strong>
  <%= @canva.a_type %>
</p>

<p>
  <strong>Label:</strong>
  <%= @canva.label %>
</p>

<p>
  <strong>Width:</strong>
  <%= @canva.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @canva.height %>
</p>

<%= link_to 'Edit', edit_canva_path(@canva) %> |
<%= link_to 'Back', canvas_path %>
