<p id="notice"><%= notice %></p>

<div class="ui container">

  <h1>Manifests</h1>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>label</th>
        <th>@id</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @manifests.each do |manifest| %>
        <tr>
          <td><%= manifest.label %></td>
          <td><%= manifest['@id'] %></td>
          <td><%= link_to 'Show', manifest %></td>
          <td><%= link_to 'Edit', edit_manifest_path(manifest) %></td>
          <td><%= link_to 'Destroy', manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <button class="ui button"><%= link_to 'New Manifest', new_manifest_path %></button>

</div>
