<p id="notice"><%= notice %></p>

<p>
  <strong>@id:</strong>
  <%= @manifest['@id'] %>
</p>

<p>
  <strong>@type:</strong>
  <%= @manifest['@type'] %>
</p>

<p>
  <strong>@context:</strong>
  <%= @manifest['@context'] %>
</p>

<p>
  <strong>Label:</strong>
  <%= @manifest.label %>
</p>

<%= link_to 'Edit', edit_manifest_path(@manifest) %> |
<%= link_to 'Back', manifests_path %>
